@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
}

.slick-slide > div {
  margin: 0 10px;
}

.text {
    font-size: xxx-large;
    margin-top: 6rem;
    margin-left: 8rem;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    color: #0E2368;
    opacity: 1;
    width: 20rem; /* Adjust this value as needed */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 575.98px) {
  /* Adjust the styles for mobile devices */
  .text {
      margin-top: 8rem;
      margin-left: 0;
      text-align: center;
  }
}

.texttwo {
  font-size: xxx-large;
  margin-top: 6rem;
  margin-left: 2rem;
  padding-left: 6rem;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  letter-spacing: 0px;
  color: #0E2368;
  opacity: 1;
  width: 20rem; /* Adjust this value as needed */
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 575.98px) {
  /* Adjust the styles for mobile devices */
  .texttwo {
      font-size: 2rem; /* Adjust font size for mobile */
      margin-top: 6rem;
      padding-left: 6rem;
      font-weight: bold;
      color: #0053b3; /* Change text color to blue */
  }
}




.para {
    font-family: sans-serif;
    font: bold;
    margin-top: 2rem;
    margin-left: 8rem;
    color: #444957;
    width: 20rem; /* Adjust this value as needed */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  @media (max-width: 575.98px) {
    /* Adjust the styles for mobile devices */
    .para {
        margin-top: 28px;
        margin-left: 0;
        text-align: center;
        
    }
  }

  .para-about{
    font-family: sans-serif;
    font: bold;
    margin-top: 2rem;
    margin-left: 8rem;
    color: #444957;
    width: 30rem; /* Adjust this value as needed */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  @media (max-width: 575.98px) {
    .para-about {
      font: bold;
      margin-top: 4rem;
      margin-left: 90px;
      color: #444957;
      max-width: 15rem;
      text-align: center;
      align-items: center;
    }
  }
  
  