@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
    font-size: xxx-large;
    margin-top: 6rem;
    margin-left: 8rem;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    color: #0E2368;
    opacity: 1;
    width: 20rem; /* Adjust this value as needed */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
}



.para {
    font-family: sans-serif;
    font: bold;
    margin-top: 2rem;
    margin-left: 8rem;
    color: #444957;
    width: 20rem; /* Adjust this value as needed */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .para-about{
    font-family: sans-serif;
    font: bold;
    margin-top: 2rem;
    margin-left: 8rem;
    color: #444957;
    width: 30rem; /* Adjust this value as needed */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }